name: fe_deploy
on:
  push:
    branches:
      - client
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: 소스 코드를 체크합니다.
        uses: actions/checkout@v2
      - name: 프로젝트에서 사용하는 모든 디펜던시를 설치합니다.
        run: npm install
        working-directory: ./client
#       - name: 환경 변수를 생성합니다.
#         run: |
#           echo "REACT_APP_SERVER_ROOT=$REACT_APP_SERVER_ROOT" >> .env
#           echo "REACT_APP_KAKAO_KEY=$REACT_APP_KAKAO_KEY" >> .env
#           echo "REACT_APP_KAKAO_RESTAPI_KEY=$REACT_APP_KAKAO_RESTAPI_KEY" >> .env
#         env:
#           REACT_APP_SERVER_ROOT: ${{ secrets.REACT_APP_SERVER_ROOT }}
#           REACT_APP_KAKAO_KEY: ${{ secrets.REACT_APP_KAKAO_KEY }}
#           REACT_APP_KAKAO_RESTAPI_KEY: ${{ secrets.REACT_APP_KAKAO_RESTAPI_KEY }}
#         working-directory: ./client
      - name: 프로젝트를 빌드합니다.
        run: npm run build
        working-directory: ./client
      - name: AWS CLI 버전을 확인합니다.
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_EC2_METADATA_DISABLED: true
        run: |
          aws --version
      - name: S3 버켓에 빌드된 파일을 업로드합니다.
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_EC2_METADATA_DISABLED: true
        run: |
          aws s3 sync \
            --region ap-northeast-2 \
            build s3://${{ secrets.BUCKET_NAME }} \
            --delete
        working-directory: ./client
